*{
    margin: 0;
    padding: 0;
   }
  
  body{
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    border-width: 60px;
    border-style: solid;
    border-image: linear-gradient(to right, #2b5227, #3f643b, #507e4b, #5e9e54) 1;
    height: 100vh;
    width: 100vw;
  }
  
  .logo img {
    width: 35vw;
    position: absolute;
    left: 53vw;
    top: 21.3vh;
  }
  
  .frase-destaque{
    position: absolute;
    left: 26.5vw;
    top: 24vh;
  }
  
  .infos-cadastro {
    width: 30vw;
    height: 15vh;
    position: absolute;
    left: 16vw;
    top: 28vh;
  }
  .infos-cadastro input {
    border-radius: 10px;
    background: #d9d9d9;
    padding: 10px;
    width: 30vw;
    height: 5vh;
    border: none;
  }
  
  .btn {
    background-color: #28A9E0;
    color: #ffffff;
    border: none;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
  }
  
  .btn-criar {
    position: absolute;
    left: 23.5vw;
    top: 76vh;
  }
  
  .faca-login {
    width: 13vw;
    position: absolute;
    left: 25vw;
    top: 72.5vh;
  }
  
  .voltar img{
    position: relative;
    right: 1vw ;
    top: 1vh;
  }

  .logo-de-cima img {
    width: 6.3vw;
    position: absolute;
    left: 9vw;
    top: -1.5vh;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  input:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
  }
  input:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
  }
  input:focus:-ms-input-placeholder {  
    color: transparent;  
  }
  
  /* dar uma atenção nesses dois ultimos inputs */
  input:invalid {
    border-color: red !important;
  }
  input:valid {
    border-color: green !important;
  }