*{
    margin: 0;
    padding: 0;
   }

body{
    box-sizing: border-box;
    margin: 0;
    border-width: 60px;
    border-style: solid;
    border-image: linear-gradient(to right, #2b5227, #3f643b, #507e4b, #5e9e54) 1;
    height: 100vh;
    width: 100vw;
  }

.imagem{
    position: absolute;
    top: 7vh;
    left: 42.5vw;
    width: 15vw;
}

.barra-vermelha{
    position: absolute;
    width: 60vw;
    height: 15vh;
    left: 20.5vw;
    top: 45vh;
    background: rgba(244, 0, 0, 0.61);
    border-radius: 99px;

}

.Frase-1{
    font-family: "Alef", sans-serif;
    font-weight: 480px;
    font-style: normal;
    position: absolute;
    top: 50vh;
    left: 38.5vw;
    font-size: 4vh;
    width: 50vw;
}

.Frase-2{
    font-family: "Alef", sans-serif;
    font-weight: 480px;
    font-style: normal;
    position: absolute;
    top: 62vh;
    left: 33vw;
    font-size: 1.4vw;
    width: 37vw;
}

.Frase-3{
    font-family: "Alef", sans-serif;
    font-weight: 480px;
    font-style: normal;
    position: absolute;
    top: 80vh;
    left: 30.5vw;
    font-size: 1.5vw;
    width: 60vw;
}

.Logo{
    width: 12.5vh;
    position: absolute;
    top: -1.7vh;
    left: 9vw;
}

.voltar{
    width: 8vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
}