*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    border-width: 6vh;
    border-style: solid;
    border-image: linear-gradient(to right, #2b5227, #3f643b, #507e4b, #5e9e54) 1;
    height: 100vh;
    width: 100vw;
}

.logo img{
    width: 14vh;
    border-radius: 50px;
    position: absolute;
    top: -2.5vh;
    left: 6vh;
}

.info1{
    box-sizing: border-box;
    margin: 0;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    width: 40vh;
    height: 38.4vh;
    border-bottom: transparent;
    font-family: Arial;
}

.info1 img{
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    position: absolute;
    left: 19vh;
    top: 9vh;
}

.info1 p{
    text-align: center;
    position: relative;
    top: 20vh;
    font-size: 2.5vh;
    padding: 1vh;
}

.info2{
    box-sizing: border-box;
    margin: 0;
    border-style: solid;
    border-left: transparent;
    border-bottom: transparent;
    width: 40vh;
    height: 49.6vh;
    font-family: Arial;
}

.info2 p{
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 2.5vh;
    padding: 2vh;
}

.ultimospacientes{
    width: 10vh;
    height: 10vh;
    border: 3px solid #000;
    background-color: #BEF202;
    border-radius: 50%;
    position: absolute;
    bottom: 13vh;
    left: 21vh;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: large;
}

.ultimospacientes:hover{
    box-shadow: 0px 0px 40px #000000;
}

.consultas p{
    position: absolute;
    top: 10vh;
    right: 65vh;
    font-size: 6vh;
    font-weight: bold;
    font-family: Arial;
}

.tabela{
    width: 100vh;
    height: 58vh;
    position: absolute;
    top: 25vh;
    right: 34vh;
    background-color: #F4F4F4;
}

.entrada{ 
    padding: 1vh 2vh;
    background-color: #BEF202;
    position: absolute;
    top: -5.4vh;
    left: 0vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-decoration: none;
    color: #000;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.saida{
    padding: 1vh 3.3vh;
    background-color: #BEF202;
    position: absolute;
    top: -5.4vh;
    left: 8.5vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-decoration: none;
    color: #000;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.info3 p{
    font-size: 2.6vh;
    font-weight: normal;
    position: relative;
    right: 0vh;
    top: 0vh;
    padding: 1.1vh;
    border-bottom: 1px solid black;
}

.notificação{
    position: absolute;
    right: 0vh;
    top: 5.5vh;
}

.notificação button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.notificação img{
    width: 6vh;
    height: 6vh;
}

.aba-notificação img{
    width: 30vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    left: 165vh;
    top: 6vh;
}

.sair img{
    width: 5vh;
    height: 5vh;
    position: absolute;
    right: 0.5vh;
    bottom: 5.5vh;
}