*{
    margin: 0;
    padding: 0;
   }

body{
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    border-width: 60px;
    border-style: solid;
    border-image: linear-gradient(to right, #2b5227, #3f643b, #507e4b, #5e9e54) 1;
    height: 100vh;
    width: 100vw;
}

.logo img {
    width: 700px;
    position: absolute;
    left: 10%;
    top: 18%;
}

.voltar {
    display: flex;
    justify-content: end;
}

.login{
    position: absolute;
    left: 65%;
    top: 30%;
}

.infos-login {
    width: 525px;
    height: 500px;
    position: absolute;
    left: 55%;
    top: 38%;
}
.infos-login input {
    border-radius: 10px;
    background: #d9d9d9;
    padding: 10px;
    width: 90%;
    border: none;
}

.infos-login a {
    position: absolute;
    left: 67%
}

.btn {
    background-color: #28A9E0;
    color: #ffffff;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 5px;
}

.btn-enviar {
    position: absolute;
    top: 58%;
    left: 61%;
}

.criar-conta {
    position: absolute;
    top: 63%;
    left: 61%;
}
/* https://pt.stackoverflow.com/questions/342024/campo-de-pesquisa-com-borda-arredondada */

/* https://www.w3schools.com/html/html_forms.asp */

/* https://awari.com.br/descubra-como-personalizar-o-cursor-no-html-e-css/?utm_source=blog&utm_campaign=projeto+blog&utm_medium=Descubra%20como%20personalizar%20o%20cursor%20no%20HTML%20e%20CSS */